// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";

@import "compass/reset";
@import "_variables.scss";
@import "modules/_loading.scss";
@import "modules/_header.scss";
@import "modules/_map.scss";
@import "modules/_segmented.scss";
@import "modules/_leftslider.scss";
@import "modules/_buttons.scss";
@import "modules/_user.scss";
@import "modules/_table.scss";
@import "modules/_chat.scss";
@import "modules/_modal.scss";
@import "modules/_actionbutton.scss";
@import "modules/_autocomplete.scss";
@import "modules/_datepicker.scss";
@import "modules/_bestTrips.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, p {
    color: $darkBlue;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 600px){
    .app {
        display: none;
    }
}

.loginPanel{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    font-family: $lato;
    .shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.8;
    }
    .login-content {
        // background: white url('../images/login.png') no-repeat center center;
        // background-size: cover;
        background-color: rgb(216,216,216);
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        border: 3px solid $darkBlue;
        position: relative;
        top: 70px;
        margin: 0 auto;
        width: 600px;
        height: 510px;
        overflow: hidden;
        .error {
            position: absolute;
            bottom: 20px;
            width: 100%;
            h4 {
                color: #d0021b;
            }
        }
        &.login, &.prompt {
            .signup{
                transform: translateX(-600px);
            }
        }
        &.signup, &.prompt {
            .login {
                transform: translateX(600px);
            }
        }
        &.signup, &.login {
            .prompt{
                display: none;
            }
        }
        .login, .signup {
            position: absolute;
            transition: transform 0.5s ease;
        }
        .prompt {
            transition: opacity 0.3s ease;
            display: block;
            h3 {
                margin: 1em 0;
            }
            h2 {
                line-height: 22px;
            }
            h4 {
                line-height: 22px;
            }
            img {
                position: absolute;
                top: 209px;
                right: 111px;
            }
            button {
                display: inline;
                width: 280px;
                padding: 0;
                margin-top: 100px;
                border: 1px solid $darkBlue;
                background: $darkBlue;
                color: white;
                // &.yes {
                //
                // }
                // &.no {
                //     background: $errorRed;
                //     color: white;
                //     border: 1px solid $errorRed;
                // }
            }
            .line {}
        }
        .top-logo {
            height: 82px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 1em;
        }
        input {
            margin: 5px;
            width: 300px
        }
        button {
            font-family: $lato;
            width: 300px;
        }
        .signup-text {
            margin-top: 2em;
        }
        .signup-bottom {
            width: 190px;
            background: white;
        }
        .facebook {
            background: #254FA6;
            color: white;
            border: none;
        }
        .create {
            background: $orange;
            color: white;
            border: none;
        }
        .login-btn {
            background: white;
            position: absolute;
            left: 10px;
            top: -100px;
            width: 70px;
            padding: 0;
        }
        .signup-btn {
            background: white;
            position: absolute;
            right: 10px;
            top: -100px;
            width: 70px;
            padding: 0;
        }
        input.ng-dirty.ng-invalid {
            border-color: #d0021b;
        }
        input.ng-dirty.ng-valid {
            border-color: #06ab4d;
        }
        form.ng-invalid, form.ng-pristine {
            .create {
                opacity: 0.8;
                cursor: default;
            }
        }
    }
}

.mobileCover {
    z-index: 20;
    background: $darkBlue;
    position: fixed;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
    font-family: $lato;
    overflow-x: hidden;
    h1 {
        color: white;
        margin-bottom: 20px;
    }
    h2 {
        color: white;
    }
    .logo {
        width: 80%;
        max-width: 250px;
        margin-bottom: 50px;
    }
    .app-store img {
        margin: 10px;
    }
    button {
        background: white;
        color: $darkBlue;
        width: 135px;
        height: 40px;
        border: none;
        margin: 10px;
    }
    form {
        margin-top: 20px;
        label {
            color: white;
            margin-bottom: 5px;
        }
        input {
            width: 80%;
            max-width: 250px;
            &.button {
                background: $orange;
                color: white;
                border-color: white;
            }
        }
    }
    .sad-android {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 20%;
        z-index: -1;
    }
    @media screen and (max-width: 600px){
        display: block;
    }
}
