// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";

@import "compass/reset";
@import "_variables.scss";
@import "modules/_loading.scss";
@import "modules/_header.scss";
@import "modules/_map.scss";
@import "modules/_segmented.scss";
@import "modules/_leftslider.scss";
@import "modules/_buttons.scss";
@import "modules/_user.scss";
@import "modules/_table.scss";
@import "modules/_chat.scss";
@import "modules/_modal.scss";
@import "modules/_actionbutton.scss";
@import "modules/_autocomplete.scss";
@import "modules/_datepicker.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, p {
    color: $darkBlue;
    letter-spacing: normal;
  }
}
