<div class="left-slider" ng-class="{shown: sliderCtrl.shown}" ng-style="{width: sliderCtrl.width}">
    <view-post
    post='sliderCtrl.post'
    journey='sliderCtrl.journey'
    shown='sliderCtrl.shown'
    ng-if='sliderCtrl.showing === "post"'></view-post>

    <view-highlight
    highlight='sliderCtrl.highlight'
    shown='sliderCtrl.shown'
    ng-if='sliderCtrl.showing === "highlight"'></view-highlight>

    <user-profile
    user='sliderCtrl.user'
    shown='sliderCtrl.shown'
    ng-if='sliderCtrl.showing === "user"'></user-profile>

</div>
