*:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.article-container {
  background-color: $darkBlue;

  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.article-container:before {
  background: url('../images/articlesBack.jpeg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.article-max {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.article-view {
  position: relative;
  width: 79%;
  left: 0;
  margin: 2px 5px;
  padding-top: 402px;
  text-align: center;
  padding-bottom: 60px;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: scroll;
}

.article-image {
  position: absolute;
  top:0;
  width: 79%;
  max-height: 400px;
  max-width: 1027px;
  overflow-y: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  img {
    position: relative;
    width: 100%;
    min-height: 100%;
    top: -150px;
  }
}

.article-view {
  h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  p {
    color: #fff;
    padding: 0 10px
  }
}

.articles-list {
	position: relative;
	margin: 15px auto;
	padding: 1em 0 4em;
  padding-top: 60px;
	max-width: 800px;
  max-height: 100%;
  overflow-y: scroll;
	list-style: none;
	text-align: center;
}

.articles-slider {
  position: fixed;
  z-index: 1;
  width: 20%;
  max-width: 300px;
  max-height: 100%;
  padding-top: 60px;
  overflow-y: scroll;
  right: 0px;
}

@media screen and (max-width: 1024px){
    .articles-slider {
      display: none;
    }
    .article-view, .article-image {
      width: 100%;
    }
}


/* Common style */
.articles figure {
	position: relative;
	float: left;
	overflow-y: hidden;
	margin: 10px 1%;
	min-width: 360px;
  height: 220px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.articles-slider figure {
  height: 165px;
  width: 100%;
  min-width: 100%;
  margin: 2px -5px;
}

.articles figure img {
	position: absolute;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.articles figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.articles figure figcaption::before,
.articles figure figcaption::after {
	pointer-events: none;
}

.articles figure figcaption,
.articles figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.articles figure figcaption > a {
	z-index: 1;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.articles figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.articles figure h2 span {
	font-weight: 800;
}

.articles figure h2,
.articles figure p {
	margin: 0;
}

.articles figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.article-thumb {
	background: #9e5406;
}

figure.article-thumb.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.articles-slider figure.article-thumb.fade {
  opacity: 1;
  transition:opacity 0.5s;
}

figure.article-thumb img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.article-thumb:hover img {
	opacity: 0.4;
}

figure.article-thumb figcaption::before,
figure.article-thumb figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.article-thumb figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.article-thumb figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.article-thumb h2 {
  font-family: $chalkFont;
	padding-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

.articles-slider figure.article-thumb h2 {
  padding-top: 45px;
}

.articles-slider figure.article-thumb p {
  display: none;
}

figure.article-thumb p {
  font-family: $chalkFont;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.article-thumb:hover figcaption::before,
figure.article-thumb:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.article-thumb:hover h2,
figure.article-thumb:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
