<div class="header">
    <ul class="navbar left" role="navigation">
        <li class="menu" ng-click="navCtrl.toggleMenu()" ng-mouseenter="navCtrl.hoverMenu(true)" ng-mouseleave="navCtrl.hoverMenu(false)"><img src="/images/burger.svg"></li>
        <li class="logo"><a href="#/"><img src="/images/brushlogo.png" alt="" /></a></li>
    </ul>
    <ul class="navbar right">
        <li class="user-login" ng-if="!navCtrl.user">
            <button ng-click="navCtrl.login()">Login</button>
        </li>
        <li class="user-details" ng-if="navCtrl.user">
            <div class="user-open" ng-click="navCtrl.openProfile()">
                <img ng-src="{{navCtrl.profileImage}}" alt="" />
                <span>{{ navCtrl.user.first_name }} {{ navCtrl.user.last_name}}</span>
            </div>
            <!-- <div class="user-view user-view-profile" ng-class="{shown: navCtrl.profileShown}">
                <user-content user='navCtrl.user' ng-show='navCtrl.profileShown'></user-content>
            </div> -->
        </li>
        <!-- <li class="header-icon-li" ng-if="navCtrl.user">
            <a  class="header-icon profile"><div><img src="images/header-profile.svg" /></div></a>
        </li> -->
        <!-- <li class="header-icon-li">
            <a ng-click="navCtrl.showSettings()" class="header-icon settings" ng-class="{active: navCtrl.settingsShown}"></a>
            <div class="user-view-settings" ng-class="{shown: navCtrl.settingsShown}">
                <h3>Privacy</h3>
                <input type="radio" id="privacyopen" ng-model="navCtrl.privacy" ng-change="navCtrl.checkPrivacy()" value="green">
                <label for="privacyopen"><span class="green">Open</span> - Anyone can see your journeys and follow you.</label>
                <input type="radio" id="privacymedium" ng-model="navCtrl.privacy" ng-change="navCtrl.checkPrivacy()" value="orange">
                <label for="privacymedium"><span class="orange">Medium</span> - You must approve follows</label>
                <input type="radio" id="privacyprivate" ng-model="navCtrl.privacy" ng-change="navCtrl.checkPrivacy()" value="red">
                <label for="privacyprivate"><span class="red">Private</span> - You don't show up anywhere on BackTracker and must share your journeys to let people see them.</label>
                <a ng-click="navCtrl.saveSettings()" ng-class="{disabled: navCtrl.settingsButtonDisabled}" class="btn">Save privacy settings</a>
                <a class="btn btn-logout" ng-click="navCtrl.logout()">Log out</a>
            </div>
        </li> -->
        <li class="header-icon-li">
            <a href="http://www.backtracker.co/info.html" target="_blank" class="header-icon help"></a>
        </li>
    </ul>
</div>

<nav-menu show="navCtrl.menu" hover="navCtrl.menuHover" user="navCtrl.user"></nav-menu>
